PORT=4000
SUPABASE_URL=https://ksghpwonmnxmbhmfpaog.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ksghpwonmnxmbhmfpaog.supabase.co:5432/postgres
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
